<!--

  Los formularios, ya sea que los usamos para crear (insertar en la base)
  o para modificar un objeto (modificar en la base), van a tener que estar siempre
  asociados a un objeto existente (no necesiamente sacado de la base)

  Recordar que:
    Prenda.create (instancia e inserta en la base) no es lo mismo que
    Prenda.new (solamente instancia, no inserta)

-->

<div id="create-item">
  <div class="create-item-container">
    <h2 class="create-title-contact">Crear prenda</h2>
      <div class="create-form">
        <%= form_for @prenda do |f|%>

          <%= f.select :tipo, Prenda.tipos.keys, {}, {class:'form-items', prompt: "Please Select" } %>
          <%= f.select :categoria, Prenda.categoria.keys, {},{class:'form-items' } %>
          <%= f.select :material, Prenda.materials.keys, {}, {class:'form-items' } %>
          <%= f.select :color_primario, Prenda.color_primarios.keys, {}, {class:'form-items' } %>
          <%= f.select :color_secundario, Prenda.color_secundarios.keys, {}, {class:'form-items' } %>
          <%= f.text_area :descripcion, {class:'form-items', placeholder:'Descripción' } %>
          <%= f.label :imagen,{class:'form-items-title' }  %>
          <%= f.file_field :imagen, {class:'btn-item-image'}%>
          <%= f.submit 'Crear', {class:'btn-item-submit'} %>

          <%= link_to "Cancelar", prendas_path(@prenda) , class: 'btn-item-cancel'%>
        <% end %>
      </div>
  </div>
</div>



