<div class="prenda-card">
  <div class="prenda-data">
    <h4>Tipo:<%= @prenda.tipo %></h4>
    <h4>Categoría: <%= @prenda.categoria %></h4>
    <h4>Material: <%= @prenda.material %></h4>
    <h4>Color primario: <%= @prenda.color_primario %></h4>
    <h4>Color secundario: <%= @prenda.color_secundario %></h4>
    <h4>Descripción: <%= @prenda.descripcion %></h4>
<!--    <h4>Imagen:</h4>-->
  </div>
  <div class="prenda-image">
    <% if @prenda.imagen.attached? %>

      <%= image_tag(@prenda.imagen) %>
    <%else %>
      <%=image_tag("/assets/placeholder.png")%>
    <%end %>
  </div>

  <div class="btn-edit-prenda">
    <%= link_to "Editar", edit_prenda_path(@prenda) %>
  </div>
  <div class="btn-delete-prenda">
    <%= link_to "Borrar", @prenda, method: "delete", data: {confirm: 'Estas seguro?'} %>
  </div>
  <div class="btn-return">
    <%= link_to "Volver atrás", prendas_path(@prenda) %>
  </div>

</div>



